.photo-grid {
  display: grid;
  
  grid-template-columns: repeat(auto-fill, 284px);
  grid-template-rows: repeat(auto, 213px);
  gap: 16px;
}

.photo-grid__container {
  max-width: 1184px;
  margin: 92px auto;
}