.footer__link-item {
  margin-right: 18px;
}

.footer__link-item:last-child {
  margin-right: 0;
}

.footer__link-item:hover {
  opacity: 0.8;
  transition: opacity 0.3s;
}

@media screen and (max-width: 767px) {
  .footer__link-item {
    margin-bottom: 32px;
  }  
  .footer__link-item:last-child {
    margin-bottom: 0;
  }
  
}
