.root__intro {
  max-width: 984px;
  margin: 0 auto;
}

@media screen and (max-width: 1279px) {
  .root__intro  {
    padding: 0 48px;
  }  
}

@media screen and (max-width: 1023px) {
  .root__intro  {
    padding: 0 24px;
  }  
}

@media screen and (max-width: 767px) {
  .root__intro  {
    padding: 0 16px;
  }  
}



