.root__photo-grid {
  max-width: 1184px;
  margin: 92px auto;
}

@media screen and (max-width: 1279px) {
  .root__photo-grid {
    padding: 0 48px;
  }  
}

@media screen and (max-width: 1023px) {
  .root__photo-grid {
    padding: 0 24px;
  }  
}

@media screen and (max-width: 767px) {
  .root__photo-grid {
    padding: 0 16px;
    margin: 64px auto;
  }  
}

